openexchangerates.app-id=your_app_id_here

spring.mongodb.uri=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@conversion.fwndu50.mongodb.net/currencydb?retryWrites=true&w=majority

jwt.secret=your-secret-key-here